<html>
	<head>
		<link rel="stylesheet" href="../css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
		<!-- Latest compiled and minified JavaScript -->
		<link rel="stylesheet" href="../css/style.css">
		<link rel="stylesheet" href="../css/jcloud.css">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<script type="text/javascript" src="../js/jquery-2.1.1.js"></script>
	    <script type="text/javascript" src="../js/jqcloud-1.0.4.js"></script>
	    <script src="js/bootstrap.min.js"></script>		
	    <script type="text/javascript">
      /*!
       * Create an array of word objects, each representing a word in the cloud
	       */
	      var word_array = [
	          {text: "Lorem", weight: 15},
	          {text: "Ipsum", weight: 9, link: "http://jquery.com/"},
	          {text: "Easter eggs", weight: 1, html: {title: "Пасхалка №1"},link: "http://vk.com/k.zabrodin"},
	          {text: "Sit", weight: 7},
	          {text: "Amet", weight: 5},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2},
	          {text: "Clone", weight: 2}

	          // ...as many words as you want
	      ];

	      $(function() {
	        // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
	        $("#wordcloud").jQCloud(word_array,{	        	
	        });
	      });
	      </script>
	</head>
	<body>
		
		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header" style="width:100%;">
					<a class="navbar-brand" href="/" style="width:120px;">PythonMail</a>
					<div class="search-container">
					  <form class="navbar-form navbar-left" role="search" method="GET" action="/">
						<div class="form-group">
						  <input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">ASK</button>
					  </form>
					</div>

					<div class="user-bar">

						{%if user.is_authenticated%}
						<div class="user-info">
							<img src="/uploads/{{user.myuser.img}}" alt="..." class="img-thumbnail" style="width:80px;height:70px;float:left;">
								<span style="float:left; padding-top:10px;">
									<div class="Nickname">
										{{user.get_username}}
									</div>													
									<div class="user-action">

										<a href="#">settings</a>
										<a href="/logout">log out</a>
									</div>
								</span>
							</div>
						{%else%}
						<div class="user-unregister">
							<a href="/login">login</a>
							<a href="/registration">register</a>
						</div>
						{%endif%}
						</div>
					</div>
				</div>					
			</div>
		  
		</div>

    <div class="container">


      <!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
			<h1>Title: HelloFirstPage</h1>
			<div class="content">								
				{% block content %}
					В разработке
				{% endblock %}
				<div class="clear"></div>
			</div>
			<div class="right-side">
				<div class="cloud-wrapper">
					<h3 style="margin-top:0px;">Popular Tags:</h3>
					<div id="wordcloud"></div>
				</div>					
				<div class="best-member">
					<h3 style="margin-top:0px;">Best Members</h3>
					<ul class="best-guys">						
						<li><span class="glyphicon glyphicon-thumbs-up"></span><a href="https://pp.vk.me/c620323/v620323124/1d1ab/KNhe2iG8tII.jpg" target="_blank">Мазырин Роман</a></li>
						<li><span class="glyphicon glyphicon-thumbs-up"></span><a href="">Бондарь Анрдюшко</a></li>
						<li><span class="glyphicon glyphicon-thumbs-up"></span><a href="#">Дмитрий </a></li>
						<li><span class="glyphicon glyphicon-thumbs-up"></span><a href="#">Чамаев Николай</a></li>
						<li><span class="glyphicon glyphicon-trash"></span><a href="#">Продается рекламное место</a></li>
					</ul>
				</div>
			</div>
		</div> 
    </div> <!-- /container -->	
	</body>
</html>

