{% extends "base.html" %}

{% block content %}				
				<div class="login">
					<form class="form-horizontal" role="form" method="POST">
						{% csrf_token %}
					  <div class="form-group">
					    <label for="login" class="col-sm-2 control-label">Login</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="login" name="login" style="width:300px;"placeholder="Enter login">
					      <p class="help-block" style="font-size:11px; margin:0;">Example block-level help text here.</p>
					    </div>
					  </div>
						{%if error%}
							<div class="form-group has-error">
						{%else%}
								<div class="form-group">
						{%endif%}

					    <label for="password" class="col-sm-2 control-label">Password</label>
					    <div class="col-sm-10">					    
					      <input type="password" class="form-control" id="password" name="password" style="width:300px;" placeholder="Enter Password">
					     	{% if error %}
					       <p class="help-block" style="font-size:14px; margin:0; color:red">Wrong password</p>
							{% endif %}
					    </div>
					  </div>					  
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      <button type="submit" class="btn btn-default">Sign in</button>
					    </div>
					  </div>
					</form>					
				</div>		
{% endblock %}
