{% extends "base.html" %}

{% block content %}
    <div class="link">
        <a href="/?sort=date">Сортировать по дате</a>
        <a href="/?sort=raiting">Сортировать по рейтингу</a>
    </div>
    {% for question in question_list.object_list %}
        <div class="topic">
            <div class="content-topic">
                <div class="right-side">
                        <img src="/uploads/{{question.author.myuser.img}}"  class="img-thumbnail">
                </div>
                <div class="main">
                    <div class="title">
                        <a href="/question/{{question.id}}" class="title-link">{{question.title}}</a>
                    </div>
                    <div class="description">
                        <span class="text">{{question.text}}</span>
                    </div>
                    <div class="footer">
                        <span class="answers-count">
                            <a href="#">answer (<span class="count-answers">{{num_ask}}</span>)</a>
                        </span>
                        <span class="tags">
                            <span>Tags:</span>&nbsp;
                            {%if question.tags %}
                            <ul class="list">
                                {%for tag in question.tags.all%}
                                <li>{{tag.tag}}</li>
                                {%endfor%}
                            </ul>
                            {%else%}
                                <span>None</span>
                            {%endif%}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

      {% if question_list.has_previous %}
            <a href="?page={{ question_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ question_list.number }} of {{ question_list.paginator.num_pages }}.
        </span>

        {% if question_list.has_next %}
            <a href="?page={{ question_list.next_page_number }}">next</a>
        {% endif %}
        {%if user.is_authenticated%}
        <div class="new_question">
            <div class="awesome">
                Создать новый вопрос!
            </div>
            <div class="login hide">
                <form class="form-horizontal" role="form" method="POST">
                {% csrf_token %}
                    <div class="control-group">
                        <label class="control-label">Заголовок</label>
                        <div class="controls input-field">
                            <input type="text" name="title" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Текст вопроса:</label>
                        <div class="controls input-field">
                            <textarea name="text" style="width:400px; height:200px;" required ></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Список тэгов</label>
                        <div class="controls input-field">
                            <input type="text" name="tag_list" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls input-field">
                            <input type="submit" class="btn btn-success" value="Задать вопрос"><br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            $(".awesome").click(function(){
                $(this).addClass('hide');
                $(".login").removeClass('hide');
            })
        </script>
        {%endif%}
<!--<div class="pagination-wrapper">-->
	<!--<ul class="pagination">-->
	  <!--<li><a href="#">&laquo;</a></li>-->
	  <!--<li><a href="#">1</a></li>-->
	  <!--<li><a href="#">2</a></li>-->
	  <!--<li><a href="#">3</a></li>-->
	  <!--<li><a href="#">4</a></li>-->
	  <!--<li><a href="#">5</a></li>-->
	  <!--<li><a href="#">&raquo;</a></li>-->
	<!--</ul>-->
<!--</div>-->
{% endblock %}