{% extends "base.html" %}

{% block content %}
        <div class="topic" style="border:none; border-bottom:2px solid;">
            <div class="content-topic">
                <div class="right-side">
                    <img src="/uploads/{{question.author.myuser.img}}"  class="img-thumbnail">
                    <div class="voting" data-question-id="{{question.id}}">
                        {% csrf_token %}
                        <span class="vote-up" data-action="vote" data-type='up'></span>
                        <span class="raiting-counter">{{question.raitingg}}</span>
                        <span class="vote-down" data-action="vote" data-type='down'></span>
                    </div>
                </div>
                <script>
                    var token = $("input[name=csrfmiddlewaretoken]").val();
                    $(".vote-up").click(function(){
                        $.post("/vote",{type: "up",question_id:{{question.id}},csrfmiddlewaretoken: token } ,function(data){
                            console.log(data);
                            if(data.status == 0){
                                alert(data.message);
                            } else {
                                $(".raiting-counter").text(data.new_rating);
                            }

                        })
                    })
                    $(".vote-down").click(function(){
                        $.post("/vote",{type: "down", question_id:{{question.id}},csrfmiddlewaretoken: String(token) }, function(data){
                            console.log(data);
                            if(data.status == 0){
                                alert(data.message);
                            } else {
                                $(".raiting-counter").text(data.new_rating);
                            }
                        })
                    })
                </script>
                <div class="main">
                    <div class="title">
                        <a href="/" class="title-link">{{question.title}}</a>
                    </div>
                    <div class="description">
                        <span class="text">{{question.text}}</span>
                    </div>
                    <div class="footer">
                         {%if question.tags %}
                            <ul class="list">
                                <!--%for tag in question.tags%}-->
                                <!--<li>{{tag.tag}}</li>-->
                                <!--%endfor%}-->
                            </ul>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
        <div class="answer_list">
            {% for answer in answer_list %}
            <div class="answer">
                <div class="user">
                    <div class="nickname">
                        {{answer.author_id.username}}
                    </div>
                </div>
                <div class="text">
                    {{answer.text}}
                </div>
            </div>
            {%endfor%}
        </div>
        {%if user.is_authenticated%}
        <div class="new_question">
            <div class="awesome">
                Создать новый Ответ!
            </div>
            <div class="login hide">
                <form class="form-horizontal" role="form" method="POST">
                {% csrf_token %}
                    <div class="control-group">
                        <label class="control-label">Текст ответа:</label>
                        <div class="controls input-field">
                            <textarea name="text" style="width:400px; height:200px;" required ></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls input-field">
                            <input type="submit" class="btn btn-success" value="Ответить"><br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            $(".awesome").click(function(){
                $(this).addClass('hide');
                $(".login").removeClass('hide');
            })
        </script>
        {%endif%}

{% endblock %}