{% extends "base.html" %}

{% block content %}				
				<div class="login">
					<form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
						<div class="control-group">
							<label class="control-label">Ваш Логин</label>
							<div class="controls input-field">
								<input type="text" name="login"  required>
								<p class="help-block" style="font-size:14px; margin:0;"> Используется для входа на сайт </p>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Пароль</label>
							<div class="controls input-field">
								<input type="password" name="password" required>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">Повторите пароль</label>
							<div class="controls input-field">
								<input type="password" name="remember_password" required>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label">Персональное изображение</label>
							<div class="controls input-field">
								<input type="file" name="img" required>
							</div>
						</div>

						<div class="control-group">
							<label class="control-label">E-mail</label>
							<div class="controls input-field">
								<input type="email" name="email" required>
							</div>
						</div>

						<!--<div class="control-group">-->
							<!--<label class="control-label">Аватар</label>-->
							<!--<div class="controls input-field">-->
								<!--<input type="file" name="avatar">-->
								<!--<p class="help-block" style="font-size:14px; margin:0;"> Используется как ваше изображение </p>-->
							<!--</div>-->
						<!--</div>-->
						<br>
						<div class="control-group">
							<div class="controls input-field">
								<input type="submit" class="btn btn-success" value="Зарегистрироваться"><br>
							</div>
						</div>
					</form>					
				</div>		
{% endblock %}
