{% extends "base.html" %}

{% block content %}								
				<div class="login">
					<form class="form-horizontal" role="form">
					  <div class="form-group">
					    <label for="Login" class="col-sm-2 control-label">Login</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control disabled" id="Login" style="width:300px;"placeholder="Enter login">					      
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="email" class="col-sm-2 control-label">Email</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" id="Password" style="width:300px;" value="123@bk.ru">
					    </div>
					  </div>				
					  <div class="form-group">
					    <label for="nickname" class="col-sm-2 control-label">nickname</label>
					    <div class="col-sm-10">
					      <input type="email" class="form-control" id="nickname" style="width:300px;" value="NickName">
					    </div>
					  </div>					  	  
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-10">
					      <button type="submit" class="btn btn-default">Sign in</button>
					    </div>
					  </div>
					</form>					
				</div>		
{% endblock %}
