.search-container{
	width:70%;
	height:100%;
	display:inline-block;
	float:left;
}
.search-container .navbar-form{
	display:inline-block;
	width:100%;
}
.search-container .navbar-form .form-group{
	width:90%;
}
.search-container .navbar-form .form-group .form-control{
	width:100%;
}
.search-container .navbar-form .btn{
	width:9%;
	min-width:53px;
}

.navbar .container .user-info .nickname{
	text-align: center;
}
.navbar .container .user-unregister{
	display:inline-block;
	float:left;
	padding:14px 0;
}
.navbar .container .user-unregister a:nth-child(n+1){
	padding-left:5px;
}
.navbar .container .user-info a:nth-child(n+1){
	padding-left:5px;
}

.jumbotron{
	height:100%;
}

.jumbotron .content{
	width:60%;
	float:left;
}

.jumbotron .content .topic{
	width:100%;
	height:180px;
	border: 2px solid;
	margin: 20px 0;
}
.topic .content-topic{
	width:100%;
	height:100%;
}

.topic .content-topic .right-side{
	padding:10px;
	width:20%;
	min-width:120px;
	float:left;
}
.topic .content-topic .main{
	padding:10px;
	width:80%;	
	float:left;
}

.topic .content-topic .main .description{
	height:80px;
}

.topic .content-topic .main .description .text{
	height:100%;
	overflow:hidden;
	display:block
}


.topic .content-topic .main .footer{
	padding-top: 15px;
}


a.title-link{	
	font-size: 15pt; 
}


ul.list {  
  padding:0;
  list-style:none;
  display: inline-block;
}

ul.list li {
  display:inline;
  padding: 0 0.5px;
  color: blue;
  text-decoration:underline;
  font-size:10pt;

}

.pagination-wrapper{
	text-align: center;
}

.right-side{
	width:40%;
	float:left;
	padding-top:20px;
	padding-left:30px;

}
.right-side ul.best-guys{
	padding-left:15px;	
}

.right-side ul.best-guys li {
    list-style-type: none;
}
.right-side ul.best-guys li a {
    padding-left:5px;
}   
#wordcloud{
	width:100%;
	height: 200px;

}

.clear {
	clear:both;
	height:1px;
}
.hide{
	display:hidden;
}

.jumbotron{
	overflow:hidden;
	height:auto;
}
.answer_list{

}
.answer_list .answer{
    border: 1px solid;
    border-color: blue;
    margin-bottom: 5px;

}
.answer_list .answer .user .nickname{
    font-size: 25px;
}
.answer_list .answer .text{

}

.new_question{
	padding-top:15px;
}

.awesome{
	background: #222 repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px #999;
	-webkit-box-shadow: 0 1px 3px #999;
	text-shadow: 0 -1px 1px #222;
	border-bottom: 1px solid #222;
	position: relative;
	cursor: pointer;
}

.voting {
        display: inline-block;
        position: relative;
        text-align: center;
}
.vote-up, .vote-down {
        display: inline-block;
        height: 20px;
        width: 16px;
        background-image: url("/uploads/img/icons_vote_posts.gif");
        border-top: solid black 1px;
        border-bottom: solid black 1px;
        margin: 0px;
        float: left;
        background-size: 50px;
}
.vote-up {
        border-left: solid black 1px;
        background-position: 0px 0px;
}
.vote-up:hover {
        background-position: 0px 0px;
        cursor:pointer;
}
.raiting-counter{
        border: solid black 1px;
        padding: 0px 5px;
        font-size: 20px;
        float: left;
}
.vote-down {
        border-right: solid black 1px;
        background-position: -17px 0px;
}
.vote-down:hover {
        background-position: -17px 0px;
        cursor:pointer;
}